@import './variables';
@font-face {
  font-family: binaria_display;
  src: url('../fonts/TriesterSansOutline.ttf');
  font-style: 'outline';
}

@font-face {
  font-family: binaria_display2;
  src: url('../fonts/TriesterSans.ttf');
  font-style: 'line';
}
