@import '../../../styles/variables';

.backgroundApp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150%;
  height: 150%;
  background-image: url('../images/granulado1.png');
  animation: backgroundApp 0.2s infinite;
  pointer-events: none;
  z-index: 3;
}
@keyframes backgroundApp {
  0% {
    transform: translate(-50%, -50%);
  }
  10% {
    transform: translate(-55%, -55%);
  }
  20% {
    transform: translate(-60%, -55%);
  }
  30% {
    transform: translate(-50%, -60%);
  }
  40% {
    transform: translate(-55%, -65%);
  }
  50% {
    transform: translate(-50%, -55%);
  }
  60% {
    transform: translate(-65%, -50);
  }
  70% {
    transform: translate(-50, -60%);
  }
  80% {
    transform: translate(-65%, -50);
  }
  90% {
    transform: translate(-60%, -55%);
  }
  100% {
    transform: translate(-55%, -50);
  }
}
.backgroundApp__bgLines {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: grid;
  grid-template-columns: 5rem repeat(4, 1fr) 5rem;
  pointer-events: none;
  transition: height 1s cubic-bezier(0.25, 0.46, 1, 0.4);
  mix-blend-mode: exclusion;
  z-index: 3;
}
.backgroundApp__bgLines-1,
.backgroundApp__bgLines-2,
.backgroundApp__bgLines-3,
.backgroundApp__bgLines-4,
.backgroundApp__bgLines-5 {
  border-right: 1px solid rgb(255, 255, 255);
}
.backgroundApp__bgLines--hidde {
  height: 0;
}
.backgroundApp__bgLines--effect {
  mix-blend-mode: soft-light;
}
.backgroundApp__line--effect {
  mix-blend-mode: exclusion;
}

.logo {
  width: 2.8rem;
  fill: white;
  position: fixed;
  top: 1rem;
  left: 1.2rem;
  mix-blend-mode: exclusion;
  z-index: 3;
}
@media (max-width: 800px) {
  .backgroundApp__bgLines-6,
  .backgroundApp__bgLines-5 {
    display: none;
  }
  .backgroundApp__bgLines-4 {
    border: none;
  }
  .backgroundApp__bgLines {
    grid-template-columns: 0.51fr repeat(2, 1fr) 0.5fr;
  }
  .logo {
    top: 0.7rem;
    left: 0.7rem;
    width: 2.5rem;
  }
}
