@import '../../../styles/variables';

.footer {
  display: grid;
  place-content: center;
  font-weight: 100;
  letter-spacing: 0.3rem;
}
.footer__text {
  font-size: 0.95rem;
  color: rgb(182, 180, 180);
  z-index: 1;
}
